body{
  display: flex;
  justify-content: center;
  align-items: center;
  background:url(https://images.pexels.com/photos/164745/pexels-photo-164745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size:cover;
}

#drum-machine{
  width: 50vw;
  height: 45vh;
  backdrop-filter:blur(30px);
  box-shadow: inset 0px 0px 10px whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
}



#drum-pads{
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.drum-pad{
  width: 90px;
  height: 80px;
  backdrop-filter:blur(10px);
  box-shadow: inset 0px 0px 10px whitesmoke;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

/* .pads>a{
  color:black;
  pointer-events: none;
} */

#display{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

}

.power{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}

.switch-bord{
  width: 50px;
  height: 20px;
  background-color:rgb(17, 245, 55);
  padding: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: end;
}

.switch{
  width: 25px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px darkgreen;
}


.screen{
  width: 200px;
  height: 50px;
  backdrop-filter:blur(10px);
  box-shadow: inset 0px 0px 10px whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.volume{
  appearance: none;
  width: 200px;
  height: 10px;
  outline: none;
  background-color:transparent;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.bank{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}


@media (max-width: 1024px){
  
  #drum-machine{
           width:fit-content; 
           height:100vh;
           flex-direction: column; 
           flex-wrap: wrap;
  }

  #drum-pads,#display{
    width: 100vw;
    height: 50vh;
  }

  /* .drum-pad{
         width: 60px;
         height: 60px;
  } */

  .screen,.volume {
        width: 150px;
  }

}







